.navbar {
  position: fixed; /* Fix the navbar to the top */
  top: 0;
  left: 0;
  right: 0;
  background: black; /* Make the background transparent */
  z-index: 1000; /* Ensure it's above other content */
}

.navbarItems {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1.25rem;
  text-decoration: none;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

ul li a::before {
  /* Keep your existing styles here */
}

ul li a:hover::before {
  /* Keep your existing styles here */
}

ul li a:hover {
  /* Keep your existing styles here */
}

@media screen and (max-width: 460px) {
  .navbarItems {
    font-size: 0.75rem;
    line-height: 0.75rem;
  }
  .navbarItems img {
    height: 30px;
    width: 30px;
  }
}
